<li style="padding: 10px; list-style-type: none;">
	<p style="padding-right: 5px;">{{movie_}}</p>

	<button class="EatIt btn-outline-dark btn btn-info" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Devoured!{{else}}ReOrder!{{/if}}
	</button>

 	<button class="delete-burger btn-outline-dark btn btn-info" data-id="{{this.id}}">DELETE!</button> 
</li> 